# Dataset folder
datasets/*
!datasets/.gitkeep

# Output folder
outputs/*
!outputs/.gitkeep
saved_outputs/

# Weights folder
weights/*
!weights/.gitkeep

# User specific files
.idea/
experiments.py

# Environment
.env*
env/
venv/

# Python Tools
__pycache__/
*.pyc
*.ipynb_checkpoints

# Papers related to the project
papers/
docs/
