absl-py==0.9.0
aiohttp==3.7.3
argon2-cffi==20.1.0
async-generator==1.10
async-timeout==3.0.1
attrs==20.2.0
backcall==0.2.0
bleach==3.2.1
cachetools==4.1.1
certifi==2020.12.5
cffi==1.14.3
chardet==3.0.4
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
colorlog==4.2.1
cycler==0.10.0
Cython==0.29.21
cytoolz==0.11.0
dask @ file:///tmp/build/80754af9/dask-core_1610821741412/work
decorator==4.4.2
defusedxml==0.6.0
detectron2==0.2.1+cu101
entrypoints==0.3
freetype-py==2.2.0
fsspec==0.8.5
future==0.18.2
fvcore==0.1.1.post20200716
google-auth==1.20.1
google-auth-oauthlib==0.4.1
grpcio==1.31.0
h5py==2.10.0
hydra-colorlog==0.1.4
hydra-core==0.11.3
idna==2.10
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
imgviz @ file:///home/conda/feedstock_root/build_artifacts/imgviz_1596417583372/work
importlib-metadata==1.7.0
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
joblib @ file:///tmp/build/80754af9/joblib_1607970656719/work
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
kiwisolver @ file:///tmp/build/80754af9/kiwisolver_1604014532738/work
labelme @ file:///home/conda/feedstock_root/build_artifacts/labelme_1595083161273/work
Markdown==3.2.2
MarkupSafe==1.1.1
matlabengineforpython===R2020a
matplotlib @ file:///tmp/build/80754af9/matplotlib-base_1603376012865/work
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
multidict==5.1.0
nbclient==0.5.0
nbconvert==6.0.6
nbformat==5.0.7
nest-asyncio==1.4.1
networkx @ file:///tmp/build/80754af9/networkx_1598376031484/work
notebook==6.1.4
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1603479632437/work
oauthlib==3.1.0
olefile==0.46
omegaconf==1.4.1
open3d==0.10.0.0
packaging==20.4
pandas==1.1.2
pandocfilters==1.4.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///tmp/build/80754af9/pillow_1609786740831/work
pkgconfig==1.4.0
portalocker==2.0.0
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.12.4
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.1
pycparser==2.20
pydot==1.4.1
pyglet @ file:///home/conda/feedstock_root/build_artifacts/pyglet_1592756545204/work
Pygments==2.7.1
pyntcloud==0.1.2
PyOpenGL==3.1.0
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
pyquaternion==0.9.9
pyrender==0.1.43
pyrsistent==0.17.3
python-dateutil==2.8.1
pytorch-lightning==1.1.5
pytz==2020.1
PyWavelets @ file:///tmp/build/80754af9/pywavelets_1601658308664/work
PyYAML==5.4
pyzmq==19.0.2
QtPy==1.9.0
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-image==0.16.2
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1598376882706/work
scipy @ file:///tmp/build/80754af9/scipy_1597686620742/work
Send2Trash==1.5.0
Shapely==1.7.0
six @ file:///tmp/build/80754af9/six_1605205313296/work
tabulate==0.8.7
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tifffile==2020.9.3
toolz @ file:///home/linux1/recipes/ci/toolz_1610987900194/work
torch==1.6.0
torchvision==0.7.0
tornado @ file:///tmp/build/80754af9/tornado_1606942283357/work
tqdm==4.48.2
traitlets==5.0.4
trimesh==3.9.1
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
urllib3==1.25.10
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
yacs==0.1.8
yarl==1.6.3
zipp==3.1.0
